/************** Topo Geral ****************/
html{
    min-height:100%;
    position: relative;
}

body{
    height:100%;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.CodeMirror { 
    height: 100%; 
}

.navbar{
    position: fixed !important;
}

.questionNumber{
    font-size: 30px;
    color: #41A9B9;
    font-family: monospace;
}

.instruction{
    border-right: 1px dashed #333;  
}

.mt-01{
    margin-top: 1rem;
}

.pad0{
    padding: 0 !important;
}

.fullScreen{
    height:calc(100vh - 10px);
    padding-top: 51px;
}

.heightCalc{
    height: calc(100% - 51px);
}

.h100{
    height:100%
}

.responseTitle{
    border-bottom: 2px solid #80808080;
    background: #f0f1f2;
    display: flex;
    padding: 5px 0px !important;
}

.codeArea{
    height: calc(100% - 102px);
}

.blueCounter{
    color: #41A9B9;
}

.redCounter{
    color: #E62F5C;     
}

.returnValid{
    height: calc(100% - 300px) !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btnActions{
    padding: 5px;
    background: #80808012;
    display: flex;
}

.h3Mb0{
    line-height: 33px;
    margin-bottom: 0px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    line-height: 40px;  
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}