<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test approval</title>
        <meta name="description" content="">

        <link rel="stylesheet" href="css/codemirror.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/app.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/main.js"></script>
        <script src="js/codemirror.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    </head>
    <body ng-app="jullianoApp" ng-controller="counterCtrl">
        <div id="overlay" ng-click="disableOverlay()" ng-show="block">
            <div id="text" class="text-center">
                Seu tempo expirou <br />
                <small>Clique para fechar esse overlay</small><br />
                <small>Você perderá todo seu processo!</small>
            </div>
        </div>
        <nav class="navbar fixed-top navbar-light bg-light pad0">
            <span class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-6 questionNumber" ng-model="questionNumber">      
                {{question[0].number}}
            </span>
            </h2>
            <div class="col-md-4 col-lg-4 col-sm-2 col-xs-2 col-2" style="color: #009fff;">
                <i class="fas fa-clock"></i>
                <span ng-bind="counter"></span> sec
            </div>    
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4 col-4 text-right">
                <select class="form-control" ng-init="langue = langues[0]" ng-model="langue" ng-options="lang.name for lang in langues">
                </select>
            </div>
        </nav>
        <div class="col-md-12 col-lg-12 mt-01 fullScreen">
            <div class="row" style="height: 100%;">
                <div class="col-md-5 col-lg-5 col-sm-6 col-xs-6 col-6 instruction">
                    <label>Essa é uma questão teste.</label>
                    <div>
                        {{question[0].questionTitle}}
                        <ul>
                            <li ng-repeat="descrip in question[0].questionDescription" value="{{descrip}}">
                                {{descrip}}
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-6 col-xs-6 col-6 pad0">
                    <div class="btnActions">
                        <div class="col-md-6 col-6" style="line-height: 33px;"> Solução em: {{langue.name}}</div>
                    </div>
                    <div class="col-md-12 pad0" style="height: 70%;">
                        <textarea id="myTextarea" ng-model="myTextarea"></textarea>
                    </div>
                    <div class="col-md-12 pad0 responseTitle">
                        <h3 class="col-md-6 col-6 h3Mb0">Resolve</h3>
                        <div class="col-md-6 col-6 text-right">
                            <button class="btn btn-secondary btn-sm" ng-click="chamar()">
                                <i class="fas fa-play"></i>
                                Rodar script
                            </button>
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-check"></i>
                                Enviar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        {{ response }}
                    </div>
                </div>
            </div>
        </div>
        <script>
          var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
          });
        </script>
    </body>

</html>
